<div class="column is-4 messages hero is-fullheight" id="message-feed">
  {% if view != 'resource' %}
  <div class="field">
    <input class="input" id="searchInput" type="text"
           placeholder="{{ '교수 이름 검색...' if view == 'professors' else '강의 제목 검색...' }}"
           onkeyup="filterList(this, 'inbox-list')">
  </div>
  {% endif %}

  <div id="inbox-list">
    {% if view == 'professors' %}
      {% for p in datas %}
        <div class="card mb-2 profile-card" data-id="{{ p.id }}" data-type="{{ view }}">
          <div class="card-content">
            <div class="media" onclick="clickProfilePanel('{{ view }}', '{{ p.id }}')" style="cursor: pointer;" >
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://ugc.production.linktr.ee/T31DeqSYQHSVYaU1fl4V_0rikMFEkNWn3bAee">
                </figure>
              </div>
              <div class="media-content">
                <div class="columns">
                  <div class="column is-three-quarters">
                    <div class="media-left">
                      <p class="title is-6 mb-0">
                        {{ p.name }}
                      </p>
                      
                      <p class="subtitle is-6">
                        {{ p.department }}
                        {{ p.email }} 
                        {{ p.phone }}
                      </p>
    
                    </div>
                  </div>
                  <div class="column"></div>
                </div>
                <!--
                
                -->
              </div>
              
            </div>
          </div>
        </div>
      {% endfor %}

    {% elif view == 'lectures' %}
      {% for l in datas %}
        <div class="card mb-2 profile-card" data-id="{{ l.id }}" data-type="{{ view }}">
          <div class="card-content">
            <div class="media" onclick="clickProfilePanel('{{ view }}', '{{ l.id }}')" style="cursor: pointer;">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://ugc.production.linktr.ee/T31DeqSYQHSVYaU1fl4V_0rikMFEkNWn3bAee">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-6 mb-0">
                  {{ l.title }}
                </p>
                <p class="subtitle is-7">{{ l.professor_name }}</p>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      {% elif view == 'resource' %}
      {% for p in datas %}
        <div class="card mb-2 profile-card" data-id="{{ p.id }}" data-type="{{ view }}">
          <div class="card-content">
            <div class="media" onclick="clickProfilePanel('{{ view }}', '{{ p.id }}')" style="cursor: pointer;" >
              <div class="media-content">
                <div class="columns">
                  <div class="column">
                    <dl>
                      <dt>{{ p.title }}</dt>
                      <dt>{{ p.year }}</dt>
                      <div class="tags are-medium mb-2">
                        {% for tag in p.tags %}
                          <span class="tag is-light">{{ tag }}</span>
                        {% endfor %}
                      </div>
                    </dl>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      {% endfor %}
      
    {% endif %}
    <!--
    {{datas}} , {{target}}
    -->
  </div>
</div>
